* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(253, 251, 251);
  -webkit-box-sizing: border-box;
}
header {
  background: linear-gradient(
    105.5deg,
    rgba(6, 243, 175, 0.9) 17.65%,
    rgba(15, 64, 149, 0.9)
  );
  top: 0px;
  padding: 120px 1000px 20px;
  position: fixed;
}
#titulo {
  font-family: inter, Helvetica, sans-serif;
  top: 15px;
  text-align: center;
  margin-top: -120px;
}
#trybe {
    margin-top: 40px;
    margin-left: -990px;
    position: absolute;
}
#minha_foto{
    position: absolute;
    width: 200px;
    margin-top: 180px;
    margin-left: 10px;
    border-radius: 20px;
}
.containerlicoes {
    position: absolute;
    margin-top: 200px;
    margin-left: 260px;
    padding: 20px 30px;
    background-color: #06f3af;
    border-radius: 30px;
    
}

#licoes_aprendidas{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.licoesfuturas {
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
    padding: 20px 30px;
    background-color: #4895ef;
    border-radius: 30px;
}

#licoes_a_aprender{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 #namevictor {
    position: absolute;
    margin-top: 450px;
    margin-left: 10px;
    color: #14213d;
 }
 #namevictor:hover {
    color: #4895ef;

 }
